<template name="postItem">
    <div class="post">
        <a href="#" class="upvote btn btn-default {{upvotedClass}}">⬆</a>
        <div class="post-content">
            <h3><a href="{{postUrl}}">{{title}}</a><span>{{domain}}</span></h3>
            <p>
                <span>{{pluralize votes "vote"}}, submitted {{time_ago}} by {{#if ownPost}}yourself{{else}}{{author}}{{/if}}</span>,
                {{#if clicks}}{{pluralize clicks "click"}},{{/if}}
                <a href="{{pathFor 'postPage'}}">{{commentsCount}} comments</a>
            </p>
        </div>
        <a href="{{pathFor 'postPage'}}" class="post-actions btn btn-default">Discuss</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}" class="post-actions btn btn-default">Edit</a>{{/if}}
    </div>
</template>
